# Domain of the dev client. e.g. "http://localhost:3000"
DEV_CLIENT_HOST=""
# Use this email for users.
# Must additionally add '{+}' before the @ symbol, to ensure uniqueness.
# e.g. test{+}@gmail.com
API_TEST_EMAIL=""
# API domain host.
API_HOST=""