# API domain host.
API_HOST=""
# Use this email for users.
# Must additionally add '{+}' before the @ symbol, to ensure uniqueness.
API_TEST_EMAIL=""
# Dev client host. Required for 'test' endpoints.
DEV_CLIENT_HOST=""